/* General code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
button{
    width: 130px;
    height: 40px;
       border: none;
    outline: none;
    background-image: linear-gradient(to right, #00D1FF, #1A83ff);
    border-radius: 29px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: 100vh;
    margin-bottom: 30px;
}
header{
    width: 87%;
    height: 12%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 20%;
    font-weight: 400;
    font-size: 18px;
}
.logo{
   width: 18%;
}
.links{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
}
.links ul{
position: absolute;
left: 13%;
width: 70%;
      display: flex;
    align-items: center;
    list-style: none;

}
ul li{
   padding-right: 5%;
}
 .btn{
    position: absolute;
    right: 0;
    top:26%;
    text-align: center;
    width: 20%;
    height: 50%;
    margin: auto;
    vertical-align: middle;
}
 .btn button{
    width: 100%;
    height: 100%;
       border: none;
    outline: none;
    background-image: linear-gradient(to right, #00D1FF, #1A83ff);
    border-radius: 29px;
    margin-left: -40px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.home{
    width: 100%;
    height: calc(100vh - 12%);
    position: relative;
}
.bg{
    width:500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 46%;
    transform:translate(-50%,-50%) ;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    border-radius: 50%;
    background:linear-gradient(white,white) padding-box, linear-gradient(to bottom, #4DFBFB, #788EFF) border-box;
}
.btm{
   position: absolute;
   top:63%;
   left: 6.5%;
    width: 87%;
    height: 20%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.btm .left , .right{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #00D1FF, #1A83ff);
    text-align: center;
    vertical-align: middle;
}
.btm .right{
    margin-right: 7px;
}
.left{
    padding-top: 22px;
}
.home .txt{
    width: 900px;
    height: 350px;
      position: absolute;
    left: 50%;
    top: 42%;
    transform:translate(-50%,-50%) ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt h1{
 font-weight: 600;
 font-size: 77px;
 line-height: 65px;
 margin-bottom: 20px;
}
.txt p{
 font-weight: 400;
 font-size: 20px;

}
.btn2 {
    width: 140px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
}
.btn2 button{
    margin-left: 5px;
}
/* ! features section*/
.features{
    width: 100%;
    height: 100vh;
  margin-bottom: 30px;
}
.features-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    z-index: 1;
  
   
}
 .features-container .bottle{
    width: 130px;
    height:450px;
    position: absolute;
    left: 45%;
    bottom: 0;
    z-index: 2;
}
.bottle img{
    width: 100%;
    height: 100%;
    display: block;
}
.left-part{
    width:50%;
    height: 100%;
  
}
.left-part img{
    display: block;
    width: 100%;
    height:100%;
    
    
}
.right-part{
 position: relative;
    width: 50%;
    height :100%;
}
.right-part-container{
    position: absolute;
    background-color: #20292C;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.feature{
    margin-left: 20%;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center ;
    text-align: center;
    gap: 12px;
    font-size: 23px;
    color: white;
    
}
.feature .icon {
   width: 70px;
   height: 70px;
   background-color: white;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.icon img{
    display: block;
    align-items: center;
}
/* !category */
.category{
    width: 100%;
    height: 100%;
  margin-bottom: 50px;

}
.category-container{
    width: 85%;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
.category-container .title{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.title .txt h2{
  font-weight: 600;
  font-size: 50px;
}
.title .btn3  button{
    width: 140px;
    height: 40px;
       border: none;
    outline: none;
    background-image: linear-gradient(to right, #00D1FF, #1A83ff);
    border-radius: 29px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.card-container{
     display: flex;
    flex-wrap: wrap;
align-items: center;
    row-gap:25px;
    column-gap: 20px;
    height: 100%;
    width: 100%;
}
.card-container .card{
    width: 32%;
    height: 80%;
   
}
.card .img-container{
    width: 100%;
    height: 80%;
}
.card .img-container img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}
.card p{
    font-weight: 200px;
    font-size: 25px;
    margin: 10px 0;
}
/* ! about */
.about{
    width: 100%;
    height: 100vh;
    background-image: url(imgs/bg.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}
.about .container{
    width: 85%;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    column-gap: 10%;
}
.left-txt{
    width: 49%;
    height: 70%;
}
.left-txt h3{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
}
.left-txt h5{
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 20px;
}
.left-txt p{
    width: 100%;
    font-weight: 200;
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 32px;
}
.right-txt{
    flex: 1;
    height: 75%;
    display: flex;
    flex-direction: column;
     row-gap: 5%;
    align-items: start;
    justify-content: flex-start;
}
.line {
    width: fit-content;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
     border-radius: 20px;
     border: 1px solid white;
     background: rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(90px);
    padding: 10px 30px;
    
}
.line span{
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
    font-size: 40px;
    padding: 5px;
}
.line p{
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    text-align: left;
}
/* ! questions */

.questions{
    width: 100%;
    height: 130vh;
    background-color: #F3F5F6;
    padding: 1px;
    /* margin-bottom: 30px; */
}
.questions .container{
    width: 85%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 8%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
     row-gap: 1%;
}
.questions .container .row{
    width: 100%;
    height: 20%;
    padding: 6% 5% 6% 10%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;
    background-color: white;
}
.questions .container .first{
     width: 100%;
    height: 23%;
    border-radius: 20px 20px 0 0 ;
    
}
.questions .container .last{
    border-radius: 0 0 20px 20px  ;
}

.num h6{
    font-size: 40px;
    opacity: 0.5;
    font-weight: 700;
    margin-top: -20px;
}
.row .txt{
      width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.txt .header{
  
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    

}
.first h5{
    margin-bottom: 15px;
}
.row h5{
     font-size: 22px;
    font-weight: 700;
    opacity: 0.9;
}
.row .icon {
    width: 40px;
    height: 40px;
}
.row .icon img{
    width: 100%;
    height: 100%;
}
.par{
    width: 100%;
    font-size: 12px;
    opacity: 0.5;
    font-weight: 300;
}
/* !form */

.form {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to right ,#201f1fc0,#201F1F) ; 
    display: flex;
    align-items: center;
    justify-content: center;   
}
.form .container{
     width: 85%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
}
.form .content{
    width: 53%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}
.form .header{
    width: 100%;
    height: 20%;
    /* margin-bottom: 30px; */
    text-align: left;
    color: white;
}
.form .header h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.form .header p{
    width: 70%;
}

.form-content form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}
form label{
    padding-bottom: 7px;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 100;
}
form input{
    width: 99%;
    height: 50px;
    border: none;
    outline: none;
    border: 1px solid white;
    border-radius: 7px;
    background: linear-gradient(to right,#201f1f7c,#201f1f2a);
    backdrop-filter: blur(90px);
    padding: 5px 20px;
    margin-bottom: 13px;
    color: white;
}
form input[name="Message"]{
    height: 100px;
}
form input[name="Message"] ::placeholder{
    padding: 0;
}
.form .container .content button{
    position: absolute;
    left: 0;
    bottom: 0;
}
/* !footer */
.footer{
    width: 100%;
    height: 50vh;
    background-color: #201F1F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .container{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
 .footer header{
    height: 19%;
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-weight: 400;
    font-size: 18px;
}
.footerheader{
    margin-bottom: -20px;

}
 .footer .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
 .footer .links ul{
   width: 92%;
      display: flex;
    align-items: center;
     justify-content: end;
    list-style: none;
}
.copy{
    width: 100%;
    height: 7vh;
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy .txt{
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
    opacity: 0.5;
    font-size: 15px;
}
